<div id="applicationContent" content-about ng-hide="itemData">
	<div id="about" class="bb-bookblock">	
		<div class="bb-item" item-about ng-repeat="page in data.pages">
			<!--<span class="title">{{page.title}}</span>-->
			<div class="image">
				<span class="title">{{page.title}}</span>
				<div class="clear"></div>
				<img ng-src="{{page.thumbnail}}">
			</div>
			<div class="content" compile="page.content"></div>
		</div>

		<span class="iconNextPost right"></span>
		<span class="iconPrevPost left"></span>
	</div>
</div>
