<div id="applicationContent" content-blog ng-hide="itemData">
	<div id="blog">	
		<ul>
			<li item-blog ng-repeat="post in data.posts" ng-style="post.style">
				<div>
					<div class="imagePost">
						<img ng-src="{{post.thumbnail}}" ng-click="open(post)">
						<span class="title" title-blog ng-click="open(post)">
							<h1>{{post.title}}</h1>
						</span>
					</div>
					<div class="date" date-blog></div>
					<div class="excerpt">{{post.excerpt}}</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="blogItem" ng-show="itemData">
	<div id="itemContent" ng-hide="info" blog-item-info>
		<img class="img-cuad" ng-src="{{itemData.thumbnail}}">
		<div class="title">{{itemData.title}}</div>
		<div class="clear"></div>
		<div class="content" compile="itemData.content">
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="itemIcons">
		<span class="iconClose _right" ng-click="close()"></span>
		
		<span class="iconNextPost _right" ng-click="nextPost()"></span>
		<span class="iconPrevPost _right" ng-click="prevPost()"></span>
	</div>
</div>
