<div id="applicationContent" content-contact>
	<div id="contact">
    <div class="mask-contact">
      <div id="mapContact" class="item-contact" item-contact>
        <div id="map"></div>
      </div>
    </div>

    <div class="mask-contact">
      <div id="formContact" class="item-contact" item-contact>
        <div id="info">
          <div id="infoContent">
            <div>
              <label for="emailInfo"><p>Email</p></label>
              <input id="emailInfo" type="radio" name="infoContact">
              <span class="_r">
                <div>
                  <a class="email" href="mailto:oscm91@hotmail.com">oscm91@hotmail.com</a>
                </div>
              </span>
            </div>
            <div>
              <div class="social" id="twitter" data-url="https://twitter.com/0scarm0ra" data-text="Oscar Mora"></div>
              </div>
            <div>
              <label for="dirInfo"><p>Dirección</p></label>
              <input id="dirInfo" type="radio" name="infoContact">
              <span class="_b">
                <div><p class="address">Bello, Antioquia - Colombia</p></div>
              </span>
            </div>
            <div>
              <label for="telInfo"><p>Telefono</p></label>
              <input id="telInfo" type="radio" name="infoContact">
              <span class="_t">
                <div><p class="telephone">(000) 000 00 00</p></div>
              </span>
            </div>
            <div>
              <div class="social" id="facebook" data-url="https://www.facebook.com/0scarM0ra" data-text="Oscar Mora"></div></div>
            <div>
              <label for="nameInfo"><p>Contacto</p></label>
              <input id="nameInfo" type="radio" name="infoContact">
              <span class="_l">
                <div><p class="name">Oscar Mora</p></div>
              </span>
            </div>
          </div>
        </div>

        <div id="form">
          <form action="" id="contactForm" method="post" ng-hide="data.message">
            <div class="titleContent">
              <span>Envíame un mensaje</span>
            </div>
            <div class="fieldContent">
              <div class="labelContent">
                <label class="inline subject">Asunto:</label>
              </div>
              <div class="inputContent">
                    <input id="subject" name="subject" type="text" placeholder="Escribe el asunto de este mensaje..."/>
                </div>
                <div class="labelContent">
                <label class="inline email">Email:</label>
              </div>
              <div class="inputContent">
                    <input id="email" name="email" type="text" placeholder="Por favor escribe tu email..."/>
                </div>
                <div class="labelContent">
                <label class="inline name">Nombre:</label>
              </div>
              <div class="inputContent">
                    <input id="name" name="name" type="text" placeholder="Escribe tu nombre..."/>
                </div>
                <div class="labelContent">
                <label class="inline message">Mensaje:</label>
              </div>
              <div class="inputContent">
                    <textarea id="message" name="message" placeholder="Ahora escribe el mensaje..."></textarea>
                </div>
            </div>
              <div class="footerContent">
                  <input type="submit" value="Enviar" class="button radius"/>
                  <input type="reset" value="Limpiar" class="button radius"/>
              </div>
          </form>

          <div class="contactMessage" ng-show="data.message">{{data.message}}</div>
        </div>
      </div>
    </div>

		<span id="dragElement">
			
		</span>
	</div>
</div>