<div id="applicationContent" content-portfolio ng-hide="itemData">
	<table id="portfolio">
		<tbody>
			<tr>
				<td ng-repeat="post in data.posts">
					<div portfolio-preview ng-click="open(post)">
						<span class="thumbnail" thumbnail-portafolio>
							<svg width="300" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
								<clipPath id="hex-mask1">
									<polygon fill="#FF0000" points="273.557,105.486 201.516,0 79.414,122.098 102.043,154.677 0,531.073 122.1,653.172"/>
				                </clipPath>

				                <clipPath id="hex-mask2">
									<path fill="#FF0000" d="M-13.221,0v653.172h300V0H-13.221z M122.394,646.641L2.735,526.983l100.877-372.231l-21.225-30.391L200.222,6.531l70.601,103.377L122.394,646.641z"/>
				                </clipPath>

				                <!--<defs>
								    <filter id="filtersPicture" >
								  		<feColorMatrix type="matrix" values=".343 .669 .119 0 0 .249 .626 .130 0 0 .172 .334 .111 0 0 .000 .000 .000 1 0" />
										<feColorMatrix type="saturate" values="2" />
									<filter />
							    </defs>-->

							    <polygon ng-hide="post.thumbnail" fill="#FF0000" points="273.557,105.486 201.516,0 79.414,122.098 102.043,154.677 0,531.073 122.1,653.172"/>

				                <image id="image1" clip-path="url(#hex-mask1)" height="100%" width="300px" xlink:href="{{post.thumbnail}}" preserveAspectRatio="xMidYMin slice"/>

								<image style="opacity:0;" id="image2" clip-path="url(#hex-mask2)" height="100%" width="300px" xlink:href="{{post.thumbnail}}" preserveAspectRatio="xMidYMin slice"/>
							</svg>
						</span>
						<div class="info">
							<span class="title" title-portfolio></span>
							<span class="date" date-portfolio></span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="portfolioItem" ng-show="itemData">
	<div id="itemGallery" ng-style="styleItem" portfolio-item-gallery>
		<ul class="baraja-container">
			<li ng-repeat="item in itemData.gallery">
				<img ng-src="{{item.url}}">
			</li>
		</ul>
		<div id="loadingGallery" style="display:none; opacity:0;">
			<span>
				<div class="msgLoading">Cargando Images...</div>
			</span>
		</div>
	</div>
	<div id="itemInfo" ng-hide="info" portfolio-item-info>
		<div class="title">{{itemData.title}}</div>
		<div class="clear"></div>
		<div class="content" compile="itemData.content">
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="itemIcons">
		<span class="iconClose _right" ng-click="close()"></span>
		<span class="iconInfo _right" ng-click="viewInfo()"></span>
		
		<span class="iconNextPost _right" ng-click="nextPost()"></span>
		<span class="iconPrevPost _right" ng-click="prevPost()"></span>
		
		<span class="iconNextImage _left"></span>
		<span class="iconPrevImage _left"></span>
	</div>
</div>
