// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import "compass";

@import "recipes";

@import "style";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

@font-face {
    font-family: "Code Bold";
    src: url("../fonts/code_bold.eot") format("embedded-opentype"), url("../fonts/code_bold.woff") format("woff"), url("../fonts/code_bold.ttf") format("truetype"), url("../fonts/code_bold.svg") format("svg");
}

@font-face {
    font-family: "Code Light";
    src: url("../fonts/code _light.eot") format("embedded-opentype"), url("../fonts/code_light.woff") format("woff"), url("../fonts/code_light.ttf") format("truetype"), url("../fonts/code_light.svg") format("svg");
}

@font-face {
    font-family: "Raphael Icons";
    src: url("../fonts/raphaelicons-webfont.eot") format("embedded-opentype"), url("../fonts/raphaelicons-webfont.woff") format("woff"), url("../fonts/raphaelicons-webfont.ttf") format("truetype"), url("../fonts/raphaelicons-webfont.svg") format("svg");
}

@font-face {
    font-family: "Foundation Icons";
    src: url("../fonts/social_foundicons.eot") format("embedded-opentype"), 
    url("../fonts/social_foundicons.woff") format("woff"), 
    url("../fonts/social_foundicons.ttf") format("truetype"), 
    url("../fonts/social_foundicons.svg") format("svg");
}

@font-face {
    font-family: "Foundation Icons G";
    src: url("../fonts/general_foundicons.eot") format("embedded-opentype"), 
    url("../fonts/general_foundicons.woff") format("woff"), 
    url("../fonts/general_foundicons.ttf") format("truetype"), 
    url("../fonts/general_foundicons.svg") format("svg");
}

@font-face {
    font-family: "Fontawesome Icons";
    src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), 
    url("../fonts/fontawesome-webfont.woff") format("woff"), 
    url("../fonts/fontawesome-webfont.ttf") format("truetype"), 
    url("../fonts/fontawesome-webfont.svg") format("svg");
}

$padding:1%;
$margin:1%;
$nivelRoot:100;

$logoHeight:45px;
$logoWidth:165px;

$headerHeight:80px;

$lineDelimiter:10px;

*{
	font-size: 16px;
}

#header .logo{
	display:block;
	background-image:url('../img/logo.svg');
	height:$logoHeight;
	width:$logoWidth;
	margin:$padding auto;
}

#header{
	@include outerRow();

	z-index: $nivelRoot;

	height:$headerHeight;

	#menuMovil{
		@include column(3);

		z-index: $nivelRoot;

		padding:$padding;
		position:relative;

		input[type=checkbox] {
			position: absolute;
			top: -9999px;
			left: -9999px;

			&:checked ~ ul {
				display: none;
				//max-height: 0px;
				//min-height: 0px;  
				height:0px; 
			}
		}

		label {
			//@include box-shadow(rgba(#000,0.3) -4px -4px 4px);

			cursor: pointer;
			user-select: none;
			position:relative;
			float:right;
			right:0px;
			top: 0px;
			display:none;

			background-position:-192px 0px;
			background-image:url('../img/icons.svg');
			//background-color: #fff;
			width:48px;
			height:48px;
		}

		ul{
			@include transition-duration(1s);
	  		@include drop-shadow-lifted-corners;

			display:none;
			border-top:1px dashed #000;
			list-style: none;
			position:absolute;
			margin:auto;
			width:100%;
			overflow:hidden;
			background:#fff;
			//max-height: 0px;
			//min-height: 0px;
			height: 0px;
			left:0px;
			top:100%;

			li{
				@include transition-duration(1s);
				font-family: Code Bold;
				text-align: center;
				padding:0px;
				margin:0px;

				height:40px;

				border-left: 10px solid #fff;

				*{
					color:#f00;
				}

				&:hover{
					background-color: #f00;
					border-left: 10px solid #fff;
					color:#fff;

					*{
						color:#fff;
					}
				}

				a{
					@include column(12);
					height:100%;

					&::before {
					  	content: '';
					  	display: inline-block;
					  	vertical-align: middle;
					  	height: 100%;
					}

					*{
						max-width: 99%;
						color:#f00;
					}

					p{
						display: inline-block;
					  	vertical-align: middle;
					  	padding:0px;
					  	margin:0px;
					}
				}

				&.active{
					border-left: 10px solid red;
				}
			}

			&:hover{
				//max-height: 200px;
				//min-height: 0px;
				height:160px;
			}
		}
	}

	#menuScreen{
		@include column(9);

		background:#ccc;

		height:100%;
		padding:0px;
		position:relative;

		z-index: $nivelRoot;

		nav{
			height:100%;
		}

		ul{
			//@include transition-duration(1s);
	  		//@include drop-shadow-lifted-corners;

			display:block;
			//border-top:1px dashed #000;
			list-style: none;
			position:relative;
			margin:0px;
			padding:0px;
			width:100%;
			height: 100%;
			overflow:hidden;
			background:#fff;

			li{
				@include transition-duration(1s);
				@include column(3);

				font-family: Code Bold;
				text-align: center;
				padding:0px;
				margin:0px;
				border-top: 10px solid #fff;

				height:100%;

				a{
					@include column(12);
					height:100%;
					text-align: center;

					&::before {
					  	content: '';
					  	display: inline-block;
					  	height: 100%;
					  	vertical-align: middle;
					}

					*{
						max-width: 99%;
						color:#f00;
					}

			  		p{
			  			display: inline-block;
			  			vertical-align: middle;

			  			padding:0px;
			  			margin:0px;
			  		}
				}

				&:hover{
					background-color: #f00;
					border-top: 10px solid #fff;

					color:#fff;

					*,*::after{
						color:#fff;
					}
				}

				&.active{
					border-top: 10px solid red;
				}
			}
		}
	}
}

img{
	@include user-select(none);
	@include experimental(user-drag, none);
}

#main{
	@include outerRow();

	z-index: $nivelRoot - 1;

	position:relative;

	#content{
		@include column(12);
		top:0px;
		left:0px;
		position:fixed;
		height:100%;
		padding-top: $headerHeight;
		overflow:hidden;

		#applicationContent{
			@include innerRow();
			height:100%;
			overflow-x: hidden;
			overflow-y: hidden;
			white-space: nowrap;
			position:relative;

			#portfolio{
				border:none;
				height:100%;
				border-collapse: collapse;

				tbody{
					tr{
						td{
							
							height:100%;
							//display:inline-block;
							position:relative;

							&>div{
								position:relative;
								height:100%;
								width:300px;
								word-wrap:break-word;
								overflow-x: hidden;
								overflow-y: hidden;
								padding:$padding;
								white-space:normal;
								cursor:pointer;

								.info{
									position:absolute;
									bottom:0px;
									overflow:hidden;
									z-index: 1;

									.title{
										@include column(12);

										padding:0px;

										p{
											background: #000;
											color:#fff;
											font-family: "Code Bold";
											font-size: 16px;
											display: inline-block;
											padding: 0px 10px;
											margin: 0px;
											white-space: pre-wrap;
										}
									}

									.date{
										@include column(12);

										padding:0px;

										p{
											display:block;
											background: #000;
											color:red;
											font-size: 16px;
											padding: 0px 10px;
											margin: 0px;
											white-space: pre-wrap;
										}
									}
								}

								/*.open{
									//@include border-radius(5px);
									
									height:100%;
									background:red;
									z-index: 0;
									position: absolute;
									right: 0px;
									top: 0px;
									padding:10px;

									&::before {
									  	content: '';
									  	display: inline-block;
									  	vertical-align: middle;
									  	height: 100%;
									}

									p{
										font-family: 'Code Bold';
										font-size: 24px;
										color:#fff;
										margin:0px;
										display: inline-block;
									  	vertical-align: middle;
									}
								}*/
							}
						}
					}
				}
			}

			#blog{
				white-space:normal;
				position: relative;
				height: 100%;

   				ul{
   					@include column(12);
   					list-style: none;
   					margin:0px;
   					padding:0px;
   					max-width: 99%;
   					min-height: 100%;
   					position:absolute;

					li{
	    				@include column(4);

						float:left;
	    				margin-bottom:20px;

	    				overflow-x: hidden;

	    				word-wrap:break-word;

	    				.imagePost{
	    					width:100%;
	    					position:relative;

	    					img{
							    cursor:pointer;
							    position:relative;
							    width: 100%;
							    height: initial !important;
		    				}

		    				.title{
		    					width:100%;
		    					position:absolute;
		    					bottom:0px;
		    					padding: 0px;
		    					margin:5px 0px;
		    					cursor:pointer;
		    					left:0px;

		    					h1{
		    						font-family: 'Code Bold';
		    						font-size: 18px;
	    							text-align: right;
		    						background:red;
		    						color:#fff;
		    						padding:5px;
		    						margin:0px;
		    						float:right;
		    						display: inline-block;
		    					}
		    				}
	    				}

	    				.date{
	    					width:100%;
	    					background:#000;
	    					color:#fff;
	    					font-family: "Code Light";
	    					font-size: 14px;
	    					margin:0px;
	    					padding:0px;
	    					top:-5px;
	    					position:relative;

	    					span{
	    						padding:5px;
	    					}
	    				}

	    				/*&:nth-child(1){
						    margin-left:50px;
						    margin-top:30px;
						}

						&:nth-child(even){
						    margin-top:50px;
						    margin-left:30px;
						}

						&:nth-child(3n){
						    margin-left:20px;
						    margin-top:15px;
						}*/

						.excerpt{
							text-align: justify;
							font-family: 'Arial';
							padding:$padding;
						}
					}
				}
			}

			#about{
				@include innerRow();
				white-space:normal;
				height: 100%;
				position: relative;
				//background: #fff;
				z-index: 100;
				//padding: %padding;

				.iconNextPost{
					position: absolute;
					top:50%;
					z-index: 1000;
					right: 10px;
				}

				.iconPrevPost{
					position: absolute;
					top:50%;
					z-index: 1000;
					left: 10px;
				}

				.title{
					@include column(12);
					position: relative;
					left: 0px;
					top: 0px;
					//background: red;
					color: red;
					padding: 10px;
					z-index: 100;

					font-family: 'Code Bold';
					font-size: 24px;
					text-align: center;
				}

				.content{
					@include column(6);
					padding: (10px) ($padding * 10);

					//font-family: 'Arial';
					font-size: 16px;
					text-align: justify;
				}

				.image{
					@include column(6);
					padding: (10px) ($padding * 10);
					
					img{
						width:100%;
						height: initial !important;
					}
				}

				div.bb-item{
					@include column(12);
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: none;
					overflow: hidden;

					&:first-child{
						display:block;
					}
				}

				&>div.bb-page:first-child,
				&>div.bb-page:first-child .bb-back {
					-webkit-transform: rotateY(180deg);
					-moz-transform: rotateY(180deg);
					-o-transform: rotateY(180deg);
					-ms-transform: rotateY(180deg);
					transform: rotateY(180deg);
				}

				.bb-page {
					width: 50%;
					height: 100%;
					left: 50%;
					position: absolute;

					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					-o-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
					transform-style: preserve-3d;

					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					-ms-transform-origin: left center;
					transform-origin: left center;
				}

				.bb-page > div,
				.bb-outer,
				.bb-content {
					position: absolute;
					height: 100%;
					top: 0;
					left: 0;
				}

				.bb-content {
					background: #fff;
				}

				.bb-inner {
					position: relative;
					width: 100%;
					height: 100%;
				}

				.bb-overlay, .bb-outer {
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-o-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					backface-visibility: hidden;
				}

				.bb-page > div {
					width: 100%;
					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					-o-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
					transform-style: preserve-3d;

					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-o-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					backface-visibility: hidden;
				}

				.bb-back {
					-webkit-transform: rotateY(-180deg);
					-moz-transform: rotateY(-180deg);
					-o-transform: rotateY(-180deg);
					-ms-transform: rotateY(-180deg);
					transform: rotateY(-180deg);

				}

				.bb-outer {
					width: 100%;
					overflow: hidden;
					z-index: 999;
				}

				.bb-overlay, 
				.bb-flipoverlay {
					background-color: rgba(0, 0, 0, 0.7);
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					opacity: 0;
				}

				.bb-flipoverlay {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}

			#contact{
				@include innerRow();
				white-space:normal;
				height: 100%;
				position: relative;
				padding: 0px;
				margin:0px;

				#dragElement{
					//@include box-shadow(rgba(#000,0.3) -6px 0px 6px);

					position: absolute;
					left: 50%;
					top: 0px;
					//background: #fff;
					width: 1px;
					height: 100%;
					z-index: $nivelRoot + 1;

					cursor: col-resize;

					&::before{
						@include box-shadow(rgba(#000,0.3) 0px 0px 6px);

						color:red;
						content:';';
						background: #fff;
						//font-weight: normal;
					    //font-style: normal;
					    line-height: 0px;
					    font-family: 'Raphael Icons';
					    font-size: 80px;
					    position: relative;
					    //margin: 0px 10px;
					    padding: 0px 10px;
					    top:50%;
					    left:-40px;
					}

					/*&:hover{
						@include scale(1);
					}*/
				}

				.mask-contact{
					@include column(12);
					height: 100%;
					//position: absolute;
					position: relative;
					top: 0px;
					overflow: hidden;
					margin:0px;
					padding:0px;

					&>div{
						@include column(12);
						height: 100%;
						overflow: hidden;					
						text-align: justify;

						#map{
							width: 100%;
							height: 100%;
						}

						#info{
							@include column(6);
							margin:auto;

							height:100%;
							display:block;
							text-align: center;

							font-family: 'Arial';
							font-size: 16px;
							text-align: center;

							position:relative;

							max-width: 99%;

							&::before {
							  	content: '';
							  	display: inline-block;
							  	height: 100%;
							  	vertical-align: middle;
							}

							#infoContent{
								@include column(10);

								margin:0px;
								padding:0px;

								max-width: 95%;

								display: inline-block;
  								vertical-align: middle;
								background:red;

								margin: 20px 0px;

								float:none !important;

								&::before{
  									content:'';
  									width: 0; 
									height: 0;

									position:absolute;
									bottom:-20px;
									left:10%;

									border-left: 20px solid transparent;
									border-right: 20px solid transparent;
									border-top: 20px solid red;
  								}

  								input[type=radio] {
									position: absolute;
									top: -9999px;
									left: -9999px;

									&:checked ~ span {
										display: block;

										&._l{
											left: 0%;
										}

										&._t{
											top: 0%;
										}

										&._r{
											right: 0%;
										}
										&._b{
											bottom: 0%;
										} 
									}
								}

								&>div{
									@include column(6);
									margin:0px;
									padding:0px;

									height:130px;
									position:relative;

									background:red;

									overflow:hidden;

									&>span{
										@include transition-duration(1s);

										position:absolute;
										display: block;
										padding:20px;
										width: 100%;
										height:100%;
										background: #fff;
										z-index: $nivelRoot + 1;

										color:red;

										overflow:hidden;

										&._l{
											top:0px;
											left: -100%;

											&::after{
			  									content:'';
			  									width: 0; 
												height: 0;

												position:absolute;
												top:45px;
												left:0px;

												border-top: 20px solid transparent;
												border-bottom: 20px solid transparent;
												border-left: 20px solid red;
			  								}
										}

										&._t{
											left:0px;
											top: -100%;

											&::after{
			  									content:'';
			  									width: 0; 
												height: 0;

												position:absolute;
												top:0%;
												left:50%;
												margin-left:-20px;

												border-left: 20px solid transparent;
												border-right: 20px solid transparent;
												border-top: 20px solid red;
			  								}
										}

										&._r{
											top: 0px;
											right: -100%;

											&::after{
			  									content:'';
			  									width: 0; 
												height: 0;

												position:absolute;
												top:45px;
												right:0%;

												border-top: 20px solid transparent;
												border-bottom: 20px solid transparent; 
												border-right:20px solid red; 
			  								}
										}

										&._b{
											left:0px;
											bottom: -100%;

											&::after{
			  									content:'';
			  									width: 0; 
												height: 0;

												position:absolute;
												bottom:0%;
												left:50%;
												margin-left:-20px;

												border-left: 20px solid transparent;
												border-right: 20px solid transparent;
												border-bottom: 20px solid red;
			  								}
										}

										*{
											max-width: 99%;
										}

										&::before {
										  	content: '';
										  	display: inline-block;
										  	vertical-align: middle;
										  	height: 100%;
										}

										&>div{
											padding:0px;
											margin:0px;

											*{
												padding:0px;
												margin:0px;

												&.subject{
													&::before{
														color:red;
														content:'R';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}

												&.email{
													&::before{
														color:red;
														content:'M';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}

												&.name{
													&::before{
														color:red;
														content:'L';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}

												&.message{
													&::before{
														color:red;
														content:'[';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}

												&.telephone{
													&::before{
														color:red;
														content:'R';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}

												&.address{
													&::before{
														color:red;
														content:'o';
														font-weight: normal;
													    font-style: normal;
													    line-height: normal;
													    font-family: 'Raphael Icons';
													    font-size: 36px;
													    position: absolute;
													    margin: 10px;
													    top:0px;
													    left:0px;
													}
												}
											}

											display: inline-block;
									  		vertical-align: middle;
									  		font-family: 'Code Light';

									  		word-wrap: break-word;
											width: 95%;
										}
									}

									&>label{
										width: 100%;
										height: 100%;
										background: red;
										text-align: center;
										color:#fff;
										position: relative;
										z-index: $nivelRoot;

										*{
											max-width: 99%;
										}

										&::before {
										  	content: '';
										  	display: inline-block;
										  	vertical-align: middle;
										  	height: 100%;
										}

										&>p{
											display: inline-block;
									  		vertical-align: middle;
									  		font-family: 'Code Bold';
									  		margin:0px;
									  		padding:0px;
										}


									}

									&>input{

									}

									.social{
										@include transition-duration(1s);

										position:absolute;
										display: block;
										padding:20px;
										width: 100%;
										height:100%;
										background: red;
										z-index: $nivelRoot + 1;
										overflow:hidden;

										cursor:pointer;

										*{
											max-width: 99%;
											color:#fff;
											font-family: 'Code Bold';
											font-size: 36px;
										}

										&::before {
										  	content: '';
										  	display: inline-block;
										  	vertical-align: middle;
										  	height: 100%;
										}

										.twitter, .facebook{
											display: inline-block;
									  		vertical-align: middle;

											.count{

											}

											.title{

											}
										}

										& .twitter::after{
											color:#fff;
											content:'\f004';
											font-weight: normal;
										    font-style: normal;
										    line-height: normal;
										    font-family: 'Foundation Icons';
										    font-size: 36px;
										    position: absolute;
										    margin: 10px;
										    top:0px;
										    left:0px;
										}

										& .facebook::after{
											color:#fff;
											content:'\f003';
											font-weight: normal;
										    font-style: normal;
										    line-height: normal;
										    font-family: 'Foundation Icons';
										    font-size: 36px;
										    position: absolute;
										    margin: 10px;
										    top:0px;
										    left:0px;
										}

										&:hover{
											background:#fff;

											*{
												color:red;
											}

											& .twitter::after{
												color:red;
											}

											& .facebook::after{
												color:red;
											}
										}
									}
								}
							}
						}

						#form{
							@include column(6);
							height:100%;
							margin:auto;
							display:block;
							text-align: center;
							position:relative;

							&::before {
							  	content: '';
							  	display: inline-block;
							  	height: 100%;
							  	vertical-align: middle;
							}

							*{
								max-width: 99%;
							}

							form{
								display: inline-block;
  								vertical-align: middle;

  								background:red;

  								max-width: 95%;

  								position: relative;
								margin-top: 20px;

  								&::before{
  									content:'';
  									width: 0; 
									height: 0;

									position:absolute;
									top:-20px;
									right:10%;

									border-left: 20px solid transparent;
									border-right: 20px solid transparent;
									border-bottom: 20px solid red;
  								}
  								
  								.titleContent{
  									@include column(12);
  									@include border-radius(5px 5px 0px 0px);

  									padding:$padding * 5;
  									//background:red;

  									span{
  										color:#fff;
  										font-size: 24px;
  										font-family: 'Code Bold';
  									}
								}

								.fieldContent{
									@include column(12);
									//background:#000;
									padding: 10px;

									label{
										color:#fff;
										font-family: 'Code Light';
										font-size: 16px;

										&.error{
											@include column(12);
											//padding:$padding;
											font-family: 'Code Bold';
											font-size: 14px;
											font-style: italic;
											text-align: right;
											text-decoration: underline;
											padding-right:40px;
											position:relative;
											top:-5px;

											&::before{
			  									content:'';
			  									width: 0; 
												height: 0;

												position:absolute;
												top:-20px;
												left:0%;

												border-left: 20px solid transparent;
												border-right: 20px solid transparent;
												border-bottom: 20px solid red;
			  								}

			  								&::after{
												content:'\f013';
												font-weight: normal;
											    font-style: normal;
											    line-height: normal;
											    font-family: 'Foundation Icons G';
											    font-size: 14px;
											    position: absolute;
											    left:13px;
											    top:-10px;
											}
										}
									}

									input{
										font-family: 'Arial';
									}

									textarea{
										font-family: 'Arial';
									}
								}
  								
								.footerContent{
									@include column(12);
									@include border-radius(0px 0px 5px 5px);
									//background:red;
									padding: 10px;
								}

								.labelContent{
									@include column(3);
								}

								.inputContent{
									@include column(9);
								}

							}

							&>div{
								display: inline-block;
  								vertical-align: middle;
							}

							.contactMessage{
								width:100%;
								padding:10px;

								color:#fff;
								background:red;
								position:relative;

								font-family: 'Code Bold';

								text-align:center;

								margin-top: 20px;

  								&::before{
  									content:'';
  									width: 0; 
									height: 0;

									position:absolute;
									top:-20px;
									right:10%;

									border-left: 20px solid transparent;
									border-right: 20px solid transparent;
									border-bottom: 20px solid red;
  								}

  								&::after{
									color:#fff;
									content:'\f02b';
									font-weight: normal;
								    font-style: normal;
								    line-height: normal;
								    font-family: 'Foundation Icons G';
								    font-size: 28px;
								    position: relative;
								    float:left;
								}
							}
						}
					}

					&:nth-child(1){
						left: 0px !important;
						float: left;
					}

					&:nth-child(2n){
						right: 0px !important;
						float: right;
					}
				}
			}
		}

		#portfolioItem{
			@include innerRow();
			//background:#ccc;
			height:100%;
			overflow:hidden;
			position:relative;

			color:#fff;

			#itemGallery{
				@include column(7);
				background: #fff;
				height: 100%;
				position:relative;
				padding:0px;

				z-index: $nivelRoot + 1;

				ul{
					list-style: none;
					width: 100%;
					height: 100%;
					position: relative;
					z-index: $nivelRoot + 1;

					li{
						//@include box-shadow(rgba(#000,0.3) 2px 2px 4px);

						width: 80%;
						height: 100%;
						left:10%;
						background: #fff;

						position:absolute;
						display: block;
						margin: auto;
						text-align: center;

						&::before {
						  	content: '';
						  	display: inline-block;
						  	height: 100%;
						  	vertical-align: middle;
						}

						img{
							//height:100%;
							width:initial !important;
							margin:auto;
							display: inline-block;
  							vertical-align: middle;
  							max-width: 95%;
						}
					}
				}

				#loadingGallery{
					position:absolute;
					background:#fff;
					top:0px;
					left:0px;
					width:100%;
					height:100%;
					text-align:center;
					z-index: $nivelRoot + 2;

					&::before {
					  	content: '';
					  	display: inline-block;
					  	height: 100%;
					  	vertical-align: middle;
					}

					*{
						max-width: 99%;
						color:red;
					}

					.msgLoading{
						display: inline-block;
				  		vertical-align: middle;
				  		font-family: 'Code Bold';
				  		font-size: 18px;

				  		&:before{
				  			content:'';
				  			background-position:-336px 0px;
							background-image:url('../img/icons.svg');
							cursor:pointer;
							width:48px;
							height:48px;
							display:block;
							position:relative;
							margin:auto;
							background-color: #fff;
				  		}
					}
				}
			}

			#itemInfo{
				@include column(5);
				background: red;
				height: 100%;
				position:absolute;
				top:0px;
				right:0px;
				padding:48px $padding;
				overflow:hidden;

				z-index: $nivelRoot + 2;

				.title{
					text-align: right;
					font-family: Code Bold;
					font-size: 24px;
					padding:$padding;
				}
				.content{
					text-align: justify;
					overflow: hidden;
					padding:10px $padding;

					font-family: 'Arial';
					font-size: 16px;
					text-align: justify;
				}
			}

			#itemIcons{
				@include column(12);
				position:absolute;
				bottom:0px;
				height:48px;
				padding:0px;
				margin:0px;

				z-index: $nivelRoot + 3;
			}
		}

		#blogItem{
			@include innerRow();
			background:#ccc;
			height:100%;
			overflow:hidden;
			position:relative;

			color:#fff;

			#itemContent{
				@include column(12);
				background: #fff;
				color:#000;
				height: 100%;
				position:relative;
				top:0px;
				right:0px;
				padding:0px 10%;
				padding-bottom:48px;
				overflow:hidden;

				*{
					max-width:100%;
				}
				
				&>img{
					@include column(6);
					padding:$padding;
				}

				.title{
					@include column(6);
					text-align: right;
					font-family: Code Bold;
					font-size: 28px;
					padding:$padding;
					color: red;
					float: right;
				}
				.content{
					//@include column-count(2); 
					//height: 100%;
					text-align: justify;
					overflow: hidden;
					padding:$padding;
					display: block;

					font-family: "Arial";
					font-size: 16px;
					text-align: justify;

					&>p{
						column-span:all
					}
				}
			}

			#itemIcons{
				@include column(12);
				position:absolute;
				bottom:0px;
				height:48px;
				padding:0px;
				margin:0px;
			}
		}
	}

	#widget{
		@include column(5);
		@include transition-duration(1s);
		@include drop-shadow-raised;
		background-color: #fff;
		height:100%;
		position:fixed;
		top:0px;
		right:-$lineDelimiter;
		overflow:hidden;
		padding:$headerHeight $lineDelimiter $lineDelimiter $lineDelimiter;
		border-left:1px dashed #000;

		max-width: 0px;
		min-width: 0px;

		&:hover{
			max-width: 700px;
			min-width: 0px;
		}
	}

	#loading{
		position:fixed;
		background:#fff;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		text-align:center;
		z-index: $nivelRoot + 2;


		&::before {
		  	content: '';
		  	display: inline-block;
		  	height: 100%;
		  	vertical-align: middle;
		}

		*{
			max-width: 99%;
			//color:#f00;
		}

		.msgLoading{
			display: inline-block;
	  		vertical-align: middle;
	  		font-family: 'Code Bold';
	  		font-size: 18px;

	  		&:before{
	  			content:'';
	  			background-position:-336px 0px;
				background-image:url('../img/icons.svg');
				cursor:pointer;
				width:48px;
				height:48px;
				display:block;
				position:relative;
				margin:auto;
				background-color: #fff;
	  		}
		}
	}
}

input{
	&[type = 'submit'], &[type = 'reset']{
		background:#fff;
		color:red;
		border:none;

		&:hover{
			background:red;
			color:#fff;
			border:none;
		}
	}
}

label{
	&.subject{
		position:relative;
		&::before{
			content:'R';
			font-weight: normal;
		    font-style: normal;
		    line-height: normal;
		    font-family: 'Raphael Icons';
		    font-size: 36px;
		    position: absolute;
		    top: -2px;
		    left:-10px;
		}
	}

	&.email{
		position:relative;
		&::before{
			content:'M';
			font-weight: normal;
		    font-style: normal;
		    line-height: normal;
		    font-family: 'Raphael Icons';
		    font-size: 36px;
		    position: absolute;
		    top: -2px;
		    left:-10px;
		}
	}

	&.name{
		position:relative;
		&::before{
			content:'L';
			font-weight: normal;
		    font-style: normal;
		    line-height: normal;
		    font-family: 'Raphael Icons';
		    font-size: 36px;
		    position: absolute;
		    top: -2px;
		    left:-10px;
		}
	}

	&.message{
		position:relative;
		&::before{
			content:'[';
			font-weight: normal;
		    font-style: normal;
		    line-height: normal;
		    font-family: 'Raphael Icons';
		    font-size: 36px;
		    position: absolute;
		    top: -2px;
		    left:-10px;
		}
	}
}

.clear{
	@include column(12);
	height: 10px;
	clear:both;
}

._left{
	float:left !important;
	left:0px;
}

._right{
	float:right !important;
	right:0px;
}

.iconClose{
	background-position:0px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}
.iconInfo{
	background-position:-144px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}

.iconNextPost{
	background-position:-96px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}
.iconPrevPost{
	background-position:-48px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}

.iconNextImage{
	background-position:-240px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}
.iconPrevImage{
	background-position:-288px 0px;
	background-image:url('../img/icons.svg');
	cursor:pointer;
	width:48px;
	height:48px;
	display:block;
	margin:auto;
	background-color: #fff;
	display:inline-block;
}

.iconAbout{
	
	&::after{
		color:red;
		content:'\f02c';
		//font-weight: normal;
	    //font-style: normal;
	    line-height: 0px;
	    font-family: 'Foundation Icons G';
	    font-size: 30px;
	    position: relative;
	    margin: 0px 10px;
	    padding: 0px;
	    top:10px;
	    //left:10px;
	}

	/*&:hover{
		@include scale(1);
	}*/
}
.iconPortfolio{
	&::after{
		color:red;
		content:'\f02a';
		//font-weight: normal;
	    //font-style: normal;
	    line-height: 0px;
	    font-family: 'Foundation Icons G';
	    font-size: 30px;
	    position: relative;
	    margin: 0px 10px;
	    padding: 0px;
	    top:10px;
	    //left:10px;
	}

	/*&:hover{
		@include scale(1);
	}*/
}
.iconContact{
	&::after{
		color:red;
		content:'\f007';
		//font-weight: normal;
	    //font-style: normal;
	    line-height: 0px;
	    font-family: 'Foundation Icons G';
	    font-size: 30px;
	    position: relative;
	    margin: 0px 10px;
	    padding: 0px;
	    top:10px;
	    //left:10px;
	}

	/*&:hover{
		@include scale(1);
	}*/
}
.iconBlog{
	&::after{
		color:red;
		content:'\f025';
		//font-weight: normal;
	    //font-style: normal;
	    line-height: 0px;
	    font-family: 'Foundation Icons G';
	    font-size: 30px;
	    position: relative;
	    margin: 0px 10px;
	    padding: 0px;
	    top:10px;
	    //left:10px;
	}

	/*&:hover{
		@include scale(1);
	}*/
}

.infoScreen{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index: $nivelRoot + 5;
	text-align: center;

	&::before {
	  	content: '';
	  	vertical-align: middle;
	  	display: inline-block;
	  	height: 100%;
	}

	div{
		@include box-shadow(rgba(#000,0.3) 0px 0px 6px);
		width:300px;
		margin:auto;

		max-width: 90%;

		vertical-align: middle;
	  	display: inline-block;
	  	padding:10px;

	  	background:red;

		p{
			font-family: 'Code Bold';
			color:#fff;	
		}

		span{
			width:100%;
			height:150px;
			display:block;
			margin:auto;

			background-image:url('../img/infoScreen.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: red;
			background-size: contain;
		}
	}
}

.infoMobile{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index: $nivelRoot + 5;
	text-align: center;

	&::before {
	  	content: '';
	  	vertical-align: middle;
	  	display: inline-block;
	  	height: 100%;
	}

	div{
		@include box-shadow(rgba(#000,0.3) 0px 0px 6px);
		width:300px;
		margin:auto;

		max-width: 90%;

		vertical-align: middle;
	  	display: inline-block;
	  	padding:10px;

	  	background:red;

		p{
			font-family: 'Code Bold';
			color:#fff;	
		}

		span{
			width:100%;
			height:150px;
			display:block;
			margin:auto;

			background-image:url('../img/infoMobile.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: red;
			background-size: contain;
		}
	}
}

/* Very large screens */
@media only screen and (min-width: 1441px) { 

}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) { 

}

/* Small screens */
@media only screen and (max-width: 767px) { 

	#header{
		#menuMovil{

			.logo{
				position:absolute;
				left:0px;
				top:0px;
				margin:10px;
			}

			input[type=checkbox] {
				position: absolute;
				top: -9999px;
				left: -9999px;

				&:checked ~ ul {
					display: block;
					//max-height: 200px;
					//min-height: 0px;
					height:160px;   
				}
			}

			label{
				display:block;
			}

			ul{
				display:block;
			}
		}

		#menuScreen{
			display:none;
		}
	}

	#main{
		@include outerRow();

		z-index: $nivelRoot - 1;

		position:relative;

		#content{
			/*@include column(12);
			top:0px;
			left:0px;
			position:fixed;
			height:100%;
			padding-top: $headerHeight;
			overflow:hidden;*/

			#applicationContent{
				/*@include innerRow();
				height:100%;
				overflow-x: hidden;
				overflow-y: hidden;
				white-space: nowrap;
				position:relative;*/

				/*#portfolio{
					border:none;
					height:100%;
					border-collapse: collapse;

					tbody{
						tr{
							td{
								
								height:100%;
								//display:inline-block;
								position:relative;

								&>div{
									position:relative;
									height:100%;
									width:300px;
									word-wrap:break-word;
									overflow-x: hidden;
									overflow-y: hidden;
									padding:$padding;
									white-space:normal;

									.info{
										position:absolute;
										bottom:0px;
										overflow:hidden;

										.title{
											@include column(12);

											padding:0px;

											p{
												background: #000;
												color:#fff;
												font-family: "Code Bold";
												font-size: 16px;
												display: inline-block;
												padding: 0px 10px;
												margin: 0px;
												white-space: pre-wrap;
											}
										}

										.date{
											@include column(12);

											padding:0px;

											p{
												display:block;
												background: #000;
												color:red;
												font-size: 16px;
												padding: 0px 10px;
												margin: 0px;
												white-space: pre-wrap;
											}
										}
									}
								}
							}
						}
					}
				}*/

				/*#blog{
					@include innerRow();
					white-space:normal;
					position: relative;
					height: 100%;

	   				ul{
	   					list-style: none;

						li{
		    				@include column(3.5);

							float:left;
		    				margin-bottom:20px;

		    				overflow-x: hidden;

		    				word-wrap:break-word;

		    				.imagePost{
		    					width:100%;
		    					position:relative;

		    					img{
								    cursor:pointer;
								    position:relative;
								    width: 100%;
								    height: initial !important;
			    				}

			    				.title{
			    					width:100%;
			    					position:absolute;
			    					bottom:0px;
			    					padding: 0px;
			    					margin:5px 0px;
			    					cursor:pointer;
			    					left:0px;

			    					h1{
			    						font-family: 'Code Bold';
			    						font-size: 18px;
		    							text-align: right;
			    						background:red;
			    						color:#fff;
			    						padding:5px;
			    						margin:0px;
			    						float:right;
			    						display: inline-block;
			    					}
			    				}
		    				}

		    				.date{
		    					width:100%;
		    					background:#000;
		    					color:#fff;
		    					font-family: "Code Light";
		    					font-size: 14px;
		    					margin:0px;
		    					padding:0px;
		    					top:-5px;
		    					position:relative;

		    					span{
		    						padding:5px;
		    					}
		    				}

		    				&:nth-child(1){
							    margin-left:50px;
							    margin-top:30px;
							}

							&:nth-child(even){
							    margin-top:50px;
							    margin-left:30px;
							}

							&:nth-child(3n){
							    margin-left:20px;
							    margin-top:15px;
							}

							.excerpt{
								text-align: justify;
								font-family: 'Arial';
								padding:$padding;
							}
						}
					}
				}*/

				/*#about{
					@include innerRow();
					white-space:normal;
					height: 100%;
					position: relative;
					//background: #fff;
					z-index: 100;
					//padding: %padding;

					.iconNextPost{
						position: absolute;
						top:50%;
						z-index: 1000;
						right: 10px;
					}

					.iconPrevPost{
						position: absolute;
						top:50%;
						z-index: 1000;
						left: 10px;
					}

					.title{
						@include column(12);
						position: absolute;
						left: 0px;
						top: 0px;
						background: red;
						color: #fff;
						padding: 10px;
						z-index: 100;

						font-family: 'Code Bold';
						font-size: 24px;
						text-align: center;
					}

					.content{
						@include column(6);
						padding: (10px) ($padding * 10);

						font-family: 'Arial';
						font-size: 16px;
						text-align: justify;
					}

					.image{
						@include column(6);
						padding: (10px) ($padding * 10);
						
						img{
							width:100%;
							height: initial !important;
						}
					}

					div.bb-item{
						@include column(12);
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						display: none;
						overflow: hidden;

						&:first-child{
							display:block;
						}
					}

					&>div.bb-page:first-child,
					&>div.bb-page:first-child .bb-back {
						-webkit-transform: rotateY(180deg);
						-moz-transform: rotateY(180deg);
						-o-transform: rotateY(180deg);
						-ms-transform: rotateY(180deg);
						transform: rotateY(180deg);
					}

					.bb-page {
						width: 50%;
						height: 100%;
						left: 50%;
						position: absolute;

						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						-o-transform-style: preserve-3d;
						-ms-transform-style: preserve-3d;
						transform-style: preserve-3d;

						-webkit-transform-origin: left center;
						-moz-transform-origin: left center;
						-o-transform-origin: left center;
						-ms-transform-origin: left center;
						transform-origin: left center;
					}

					.bb-page > div,
					.bb-outer,
					.bb-content {
						position: absolute;
						height: 100%;
						top: 0;
						left: 0;
					}

					.bb-content {
						background: #fff;
					}

					.bb-inner {
						position: relative;
						width: 100%;
						height: 100%;
					}

					.bb-overlay, .bb-outer {
						-webkit-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						-o-backface-visibility: hidden;
						-ms-backface-visibility: hidden;
						backface-visibility: hidden;
					}

					.bb-page > div {
						width: 100%;
						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						-o-transform-style: preserve-3d;
						-ms-transform-style: preserve-3d;
						transform-style: preserve-3d;

						-webkit-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						-o-backface-visibility: hidden;
						-ms-backface-visibility: hidden;
						backface-visibility: hidden;
					}

					.bb-back {
						-webkit-transform: rotateY(-180deg);
						-moz-transform: rotateY(-180deg);
						-o-transform: rotateY(-180deg);
						-ms-transform: rotateY(-180deg);
						transform: rotateY(-180deg);

					}

					.bb-outer {
						width: 100%;
						overflow: hidden;
						z-index: 999;
					}

					.bb-overlay, 
					.bb-flipoverlay {
						background-color: rgba(0, 0, 0, 0.7);
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						opacity: 0;
					}

					.bb-flipoverlay {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}*/

				#contact{
					/*@include innerRow();
					white-space:normal;
					height: 100%;
					position: relative;
					padding: $padding;*/

					/*#dragElement{
						@include box-shadow(rgba(#000,0.3) -6px 0px 6px);

						position: absolute;
						left: 50%;
						top: 0px;
						background: #fff;
						width: 10px;
						height: 100%;

						cursor: e-resize;
					}*/

					.mask-contact{
						/*@include column(12);
						height: 100%;
						position: absolute;
						top: 0px;
						overflow: hidden;*/

						&>div{
							/*@include column(12);
							height: 100%;
							overflow: hidden;					
							text-align: justify;

							#map{
								width: 100%;
								height: 100%;
							}*/

							#info{
								@include column(6);
								margin:auto;

								height:100%;
								display:block;
								text-align: center;

								font-family: 'Arial';
								font-size: 16px;
								text-align: center;

								position:relative;

								*{
									max-width: 99%;
								}

								&::before {
								  	content: '';
								  	display: inline-block;
								  	height: 100%;
								  	vertical-align: middle;
								}

								#infoContent{
									@include column(10);

									//width:100% !important;

									margin:0px;
									padding:0px;

									max-width: 95%;

									display: inline-block;
	  								vertical-align: middle;
									background:red;

									margin: 20px 0px;

									float:none;

									&::before{
	  									content:'';
	  									width: 0; 
										height: 0;

										position:absolute;
										bottom:-20px;
										left:10%;

										border-left: 20px solid transparent;
										border-right: 20px solid transparent;
										border-top: 20px solid red;
	  								}

	  								input[type=radio] {
										position: absolute;
										top: -9999px;
										left: -9999px;

										&:checked ~ span {
											display: block;

											&._l{
												left: 0%;
											}

											&._t{
												top: 0%;
											}

											&._r{
												right: 0%;
											}
											&._b{
												bottom: 0%;
											} 
										}
									}

									&>div{
										@include column(6);
										margin:0px;
										padding:0px;

										width:50% !important;

										height:130px;
										position:relative;

										background:red;

										overflow:hidden;

										&>span{
											@include transition-duration(1s);

											position:absolute;
											display: block;
											padding:20px;
											width: 100%;
											height:100%;
											background: #fff;
											z-index: $nivelRoot + 1;

											color:red;

											overflow:hidden;

											&._l{
												top:0px;
												left: -100%;

												&::after{
				  									content:'';
				  									width: 0; 
													height: 0;

													position:absolute;
													top:45px;
													left:0px;

													border-top: 20px solid transparent;
													border-bottom: 20px solid transparent;
													border-left: 20px solid red;
				  								}
											}

											&._t{
												left:0px;
												top: -100%;

												&::after{
				  									content:'';
				  									width: 0; 
													height: 0;

													position:absolute;
													top:0%;
													left:50%;
													margin-left:-20px;

													border-left: 20px solid transparent;
													border-right: 20px solid transparent;
													border-top: 20px solid red;
				  								}
											}

											&._r{
												top: 0px;
												right: -100%;

												&::after{
				  									content:'';
				  									width: 0; 
													height: 0;

													position:absolute;
													top:45px;
													right:0%;

													border-top: 20px solid transparent;
													border-bottom: 20px solid transparent; 
													border-right:20px solid red; 
				  								}
											}

											&._b{
												left:0px;
												bottom: -100%;

												&::after{
				  									content:'';
				  									width: 0; 
													height: 0;

													position:absolute;
													bottom:0%;
													left:50%;
													margin-left:-20px;

													border-left: 20px solid transparent;
													border-right: 20px solid transparent;
													border-bottom: 20px solid red;
				  								}
											}

											*{
												max-width: 99%;
											}

											&::before {
											  	content: '';
											  	display: inline-block;
											  	vertical-align: middle;
											  	height: 100%;
											}

											&>div{
												padding:0px;
												margin:0px;

												*{
													padding:0px;
													margin:0px;

													&.subject{
														&::before{
															color:red;
															content:'R';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}

													&.email{
														&::before{
															color:red;
															content:'M';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}

													&.name{
														&::before{
															color:red;
															content:'L';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}

													&.message{
														&::before{
															color:red;
															content:'[';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}

													&.telephone{
														&::before{
															color:red;
															content:'R';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}

													&.address{
														&::before{
															color:red;
															content:'o';
															font-weight: normal;
														    font-style: normal;
														    line-height: normal;
														    font-family: 'Raphael Icons';
														    font-size: 36px;
														    position: absolute;
														    margin: 10px;
														    top:0px;
														    left:0px;
														}
													}
												}

												display: inline-block;
										  		vertical-align: middle;
										  		font-family: 'Code Light';

										  		word-wrap: break-word;
												width: 95%;
											}
										}

										&>label{
											width: 100%;
											height: 100%;
											background: red;
											text-align: center;
											color:#fff;
											position: relative;
											z-index: $nivelRoot;

											*{
												max-width: 99%;
											}

											&::before {
											  	content: '';
											  	display: inline-block;
											  	vertical-align: middle;
											  	height: 100%;
											}

											&>p{
												display: inline-block;
										  		vertical-align: middle;
										  		font-family: 'Code Bold';
										  		margin:0px;
										  		padding:0px;
											}


										}

										&>input{

										}

										.social{
											@include transition-duration(1s);

											position:absolute;
											display: block;
											padding:20px;
											width: 100%;
											height:100%;
											background: red;
											z-index: $nivelRoot + 1;
											overflow:hidden;

											cursor:pointer;

											*{
												max-width: 99%;
												color:#fff;
												font-family: 'Code Bold';
												font-size: 36px;
											}

											&::before {
											  	content: '';
											  	display: inline-block;
											  	vertical-align: middle;
											  	height: 100%;
											}

											.twitter, .facebook{
												display: inline-block;
										  		vertical-align: middle;

												.count{

												}

												.title{

												}
											}

											& .twitter::after{
												color:#fff;
												content:'\f004';
												font-weight: normal;
											    font-style: normal;
											    line-height: normal;
											    font-family: 'Foundation Icons';
											    font-size: 36px;
											    position: absolute;
											    margin: 10px;
											    top:0px;
											    left:0px;
											}

											& .facebook::after{
												color:#fff;
												content:'\f003';
												font-weight: normal;
											    font-style: normal;
											    line-height: normal;
											    font-family: 'Foundation Icons';
											    font-size: 36px;
											    position: absolute;
											    margin: 10px;
											    top:0px;
											    left:0px;
											}

											&:hover{
												background:#fff;

												*{
													color:red;
												}

												& .twitter::after{
													color:red;
												}

												& .facebook::after{
													color:red;
												}
											}
										}
									}
								}
							}

							#form{
								@include column(6);
								height:100%;
								margin:auto;
								display:block;
								text-align: center;

								&::before {
								  	content: '';
								  	display: inline-block;
								  	height: 100%;
								  	vertical-align: middle;
								}

								*{
									max-width: 99%;
								}

								form{
									display: inline-block;
	  								vertical-align: middle;

	  								background:red;

	  								position: relative;
									margin-top: 20px;

									max-width: 95%;

	  								&::before{
	  									content:'';
	  									width: 0; 
										height: 0;

										position:absolute;
										top:-20px;
										right:10%;

										border-left: 20px solid transparent;
										border-right: 20px solid transparent;
										border-bottom: 20px solid red;
	  								}
	  								
	  								.titleContent{
	  									@include column(12);
	  									@include border-radius(5px 5px 0px 0px);

	  									padding:$padding * 5;
	  									//background:red;

	  									span{
	  										color:#fff;
	  										font-size: 24px;
	  										font-family: 'Code Bold';
	  									}
									}

									.fieldContent{
										@include column(12);
										//background:#000;
										padding: 10px;

										label{
											color:#fff;
											font-family: 'Code Light';
											font-size: 16px;
										}

										input{
											font-family: 'Code Light';
										}

										textarea{
											font-family: 'Code Light';
										}
									}
	  								
									.footerContent{
										@include column(12);
										@include border-radius(0px 0px 5px 5px);
										//background:red;
										padding: 10px;
									}

									.labelContent{
										@include column(3);
									}

									.inputContent{
										@include column(9);
									}

								}

								&>div{
									display: inline-block;
	  								vertical-align: middle;
								}
							}
						}

						/*&:nth-child(1){
							left: $padding !important;
							float: left;
						}

						&:nth-child(2n){
							right: $padding !important;
							float: right;
						}*/
					}
				}
			}

			#portfolioItem{
				@include innerRow();
				//background:#ccc;
				height:100%;
				overflow:hidden;
				position:relative;

				color:#fff;

				#itemGallery{
					@include column(7);
					background: #fff;
					height: 100%;
					position:relative;
					padding:0px;

					z-index: $nivelRoot + 1;

					ul{
						list-style: none;
						width: 100%;
						height: 100%;
						position: relative;

						li{
							//@include box-shadow(rgba(#000,0.3) 2px 2px 4px);

							width: 80%;
							height: 100%;
							left:10%;
							background: #fff;

							position:absolute;
							display: block;
							margin: auto;
							text-align: center;

							&::before {
							  	content: '';
							  	display: inline-block;
							  	height: 100%;
							  	vertical-align: middle;
							}

							img{
								//height:100%;
								width:initial !important;
								margin:auto;
								display: inline-block;
	  							vertical-align: middle;
	  							max-width: 95%;
							}
						}
					}
				}

				#itemInfo{
					@include column(5);
					background: red;
					height: 100%;
					position:absolute;
					top:0px;
					right:0px;
					padding:48px $padding;
					overflow:hidden;

					z-index: $nivelRoot + 2;

					.title{
						text-align: right;
						font-family: Code Bold;
						font-size: 24px;
						padding:$padding;
					}
					.content{
						text-align: justify;
						overflow: hidden;
						padding:10px $padding;

						font-family: 'Arial';
						font-size: 16px;
						text-align: justify;
					}
				}

				#itemIcons{
					@include column(12);
					position:absolute;
					bottom:0px;
					height:48px;
					padding:0px;
					margin:0px;

					z-index: $nivelRoot + 3;
				}
			}

			/*#blogItem{
				@include innerRow();
				background:#ccc;
				height:100%;
				overflow:hidden;
				position:relative;

				color:#fff;

				#itemContent{
					@include column(12);
					background: #000;
					height: 100%;
					position:relative;
					top:0px;
					right:0px;
					padding:0px 10%;
					padding-bottom:48px;
					overflow:hidden;

					*{
						max-width:100%;
					}
					
					&>img{
						@include column(3);
						padding:$padding;
					}

					.title{
						@include column(9);
						text-align: right;
						font-family: Code Bold;
						font-size: 28px;
						padding:$padding;
						color: red;
						float: right;
					}
					.content{
						@include column-count(2); 
						height: 100%;
						text-align: justify;
						overflow: hidden;
						padding:$padding;
						display: inline;

						font-family: 'Arial';
						font-size: 16px;
						text-align: justify;

						&>p{
							column-span:all
						}
					}
				}

				#itemIcons{
					@include column(12);
					position:absolute;
					bottom:0px;
					height:48px;
					padding:0px;
					margin:0px;
				}
			}*/
		}
	}

	input[type="reset"]{
		@include column(12);
	}
}

/* Landscape Orientation */
@media screen and (orientation: landscape) { 

}

/* Portrait Orientation */
@media screen and (orientation: portrait) { 

}